/* #popupWindow{
	
	border: 2px solid red;
	width: 250px;
	display: none;
	color: #F0FFFF;
} */

body{
	background: #e5e5e5;
}
	
div{
	
}

.wal{
	float: left;
	margin-bottom: 100px;
}

.bluetext{
	color: #F0FFFF; /*белый от голубого*/
	font-size: 20px;
	text-align: center;
	
}

.lighttext{
	color: #F0FFFF; /*белый от голубого*/
	font-size: 20px;
	font-weight: bold;
}

.goldheader{
	color: #FFD700;  /*золотой*/
	font-weight: bold; /*жирный*/
	font-size: 30px;
}
.yellowtext{
	color: #F0E68C; /*бледно-жёлтый*/
	font-size: 18px;
	font-weight: bold; 
}

.yellowtext2{
	color: #F0E68C; /*бледно-жёлтый*/
	font-size: 18px;
	font-weight: bold; 	
	background-color:#F0E68C;
	width: 100%; 
}

.goldmaintext{
	color: #FFD700;  /*золотой*/
	font-size: 20px;
	font-style: italic; /*курсив*/
	font-weight: bold; /*жирный*/
	text-align: center;
}

.footer{
    position: fixed; 
    text-align: center;
    padding: 10px; /*поля вокруг текста*/
    color: #00FF00; /*лаймовый*/ 
    width: 100%; 
	bottom: 0;
}

.footer2{
    position: fixed; 
    text-align: center;
    padding: 10px; /*поля вокруг текста*/
    color: #000; /*лаймовый*/ 
    width: 100%; 
	bottom: 0;
	background-color:#F0E68C;
}

.header{
	color: #fff;
	background-color: #303030;
}
.centr{	 /*используется*/
	text-align: center;
}

.footer3{  	/*используется*/
	align-self : flex-end;
	color: #fff;
	background-color: #303030;